{% extends "zinnia/base.html" %}
{% load i18n tagging_tags comments zinnia_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block meta-description %}{% if object.excerpt %}{{ object.excerpt|striptags }}{% else %}{{ object.content|striptags|truncatewords:100 }}{% endif %}{% endblock %}

{% block link %}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'" href="{% url zinnia_entry_discussion_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'" href="{% url zinnia_entry_comment_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'" href="{% url zinnia_entry_pingback_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'" href="{% url zinnia_entry_trackback_feed object.slug %}" />
{% endblock %}

{% block content %}
<article class="hentry">
  {% with object.html_content|safe as object_content %}
  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
  <section id="comments">
	<h3>{% trans "Comments" %}</h3>
	{% with object.comments as comment_list %}
	{% if comment_list.count %}
	<ol class="comment-list">
	  {% for comment in comment_list %}
	  <li id="comment-{{ comment.pk }}" class="comment vcard {% cycle box1,box2 %} {% if comment.user in object.authors.all %}author-post {% endif %}">
		<span class="meta vcard">
		  {% if comment.url %}
		  <a href="{{ comment.url }}" title="{% blocktrans with comment.user_name as user_name %}Visit {{ user_name }} website{% endblocktrans %}" class="fn url">{{ comment.user_name }}</a>
		  {% else %}
		  <span class="fn">{{ comment.user_name }}</span>
		  {% endif %}
		  <time datetime="{{ object.creation_date|date:"c" }}" pubdate="pubdate" class="comment-date"> {% trans "says on" %} {{ comment.submit_date|date:"D d F Y H:i"|capfirst }}</time>
		  <img src="{% get_gravatar comment.email 60 "G" %}" class="gravatar photo" alt="{{ comment.user_name }}" />
		</span>
		<div class="comment-body">
		  <cite>
			{{ comment.comment }}
		  </cite>
		</div>
	  </li>
	  {% endfor %}
	</ol>
	  {% if not object.comment_enabled %}
	<p>{% trans "Comments are closed." %}</p>
	  {% endif %}
	{% else %}
	  {% if object.comment_enabled %}
	<p>{% trans "No comments yet." %}</p>
	  {% else %}
	<p>{% trans "Comments are closed." %}</p>
	  {% endif %}
	{% endif %}
	{% endwith %}
  </section>
  
  <section id="pingbacks">
	<h3>{% trans "Pingbacks" %}</h3>
	{% with object.pingbacks as pingback_list %}
	{% if pingback_list.count %}
	<ol class="pingback-list">
	  {% for pingback in pingback_list %}
	  <li id="pingback-{{ pingback.pk }}" class="pingback {% cycle box1,box2 %}">
		<div class="pingback-body">
		  <a href="{{ pingback.url }}">{{ pingback.user_name }}</a>
		  {% trans "on date" %} {{ pingback.submit_date|date:"l d F Y" }}
		  <cite>
			{{ pingback.comment }}
		  </cite>
		</div>
	  </li>
	  {% endfor %}
	</ol>
	{% endif %}
	  {% if object.pingback_enabled %}
	<p>{% trans "Pingbacks are open." %}</p>
	  {% else %}
	<p>{% trans "Pingbacks are closed." %}</p>
	  {% endif %}
	{% endwith %}  
  </section>

  <section id="trackbacks">
	<h3>{% trans "Trackbacks" %}</h3>
	{% with object.trackbacks as trackback_list %}
	{% if trackback_list.count %}
	<ol class="trackback-list">
	  {% for trackback in trackback_list %}
	  <li id="trackback-{{ trackback.pk }}" class="trackback {% cycle box1,box2 %}">
		<div class="trackback-body">
		  <a href="{{ trackback.url }}" rel="follow">{{ trackback.user_name }}</a>
		  {% trans "on date" %} {{ trackback.submit_date|date:"l d F Y" }}
		  <cite>
			{{ trackback.comment }}
		  </cite>
		</div>
	  </li>
	  {% endfor %}
	</ol>
	{% endif %}
	  {% if object.pingback_enabled %}
	<p><a href="{% url zinnia_entry_trackback object.slug %}" rel="trackback">{% trans "Trackback URL" %}</a></p>
	  {% endif %}
	{% endwith %}  
  </section>
  
  {% if object.comment_enabled %}
  <div class="comment-form">
	{% render_comment_form for object %}
  </div>
  {% endif %}
  <br />
  <hr />
    <section class="inner-links" role="complementary">
	{% if object.previous_entry or object.next_entry %}
	<nav class="previous-next">
	  <h3>{% trans "Previous and next entries" %}</h3>
	  {% with object.previous_entry as previous_entry %}
	  {% if previous_entry %}
		<a href="{{ previous_entry.get_absolute_url }}" title="{{ previous_entry.title }}" class="entry-previous" rel="prev">
		  {{ previous_entry.title }} 
		</a>
	  {% endif %}
	  {% endwith %}
	  {% with object.next_entry as next_entry %}
	  {% if next_entry %}
		<a href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}" class="entry-next" rel="next">
		  {{ next_entry.title }}
		</a>
	  {% endif %}
	  {% endwith %}
	</nav>
	{% endif %}
  </section>
	{% if object.related_published_set %}
  <section class="entry-related">
	<h3>{% trans "Related entries" %}</h3>
	<ul>
	  {% for entry in object.related_published_set %}
	  <li>
	<a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
	  </li>
	  {% endfor %}
	</ul>
  </section>
  {% endif %}
  <section class="entry-similar">
	<h3>{% trans "Similar entries" %}</h3>
	{% get_similar_entries 5 %}
  </section>
</article>
{% endblock %}
