{% load zinnia_tags tagging_tags i18n %}
{% tags_for_model zinnia.entry as tag_entry %}
<!doctype html> 
<html lang="{{ LANGUAGE_CODE }}"> 
  <head> 
    {% block meta %}
	<meta charset="utf-8" /> 
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="description" content="{% block meta-description %}Demonstration of the Zinnia Blog application.{% endblock %}" />
    <meta name="keywords" content="django, blog, zinnia, {{ tag_entry|join:", "}}, {% block meta-keywords %}{% endblock %}" />
    <meta name="author" content="Franck Bret" />
	<meta name=viewport content="width=device-width, maximum-scale=1.0, user-scalable=yes" /> 
	{% endblock meta %}
    <meta name="engine" content="Zinnia {{ ZINNIA_VERSION }}" />
	{% block meta-link %}
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ BLOGQUINTET_MEDIA_URL }}css/screen-html5.css" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ BLOGQUINTET_MEDIA_URL }}css/print.css" />
    <!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ BLOGQUINTET_MEDIA_URL }}css/ie.css" />
    <![endif]-->
    <!--[if IE 8]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ BLOGQUINTET_MEDIA_URL }}css/ie8.css" />
    <![endif]-->
	{% endblock meta-link %}
    {% get_archives_entries "zinnia/tags/archives_entries_link.html" %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="EditURI" type="application/rsd+xml" href="{% url zinnia_rsd %}" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url zinnia_wlwmanifest %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest entries" %}" href="{% url zinnia_entry_latest_feed %}" />
    {% block meta-link-extra %}{% endblock meta-link-extra %}
    {% block script %}
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 
	{% endblock script %}
	{% block script-extra %}{% endblock script-extra %}
	{% block title-tag %}
    <title>Zinnia's Blog - {% block title %}{% endblock %}</title>
	{% endblock title-tag %}
  </head>
  {% spaceless %}
  <body class="blog">
	{% block ie-nomore %}
    <!--[if lt IE 7]>
    <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
	  <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
		  <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
		  <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
		  <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
		  <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>
		  <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>
	  </div>
		  <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
		  <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
		  <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
		  <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
	  </div>
    </div>
    <![endif]-->
	{% endblock ie-nomore %}
	{% block header %}
      <header class="banner" role="banner">
		{% block top-navigation %}
		<nav class="top-navigation">	  
		  <a href="{% url zinnia_sitemap %}" title="{% trans "Sitemap" %}" class="link sitemap">
			{% trans "Sitemap" %}
		  </a> |
		  <a href="{% url zinnia_entry_latest_feed %}" title="{% trans "RSS Feed of latest entries" %}" class="link feeds">
			{% trans "RSS Feed" %}
		  </a>
		</nav>
		{% endblock top-navigation %}
		{% block branding %}
		<hgroup class="branding">
		  <h1>
			<a href="{% url zinnia_entry_archive_index %}" title="Zinnia's Blog">
			  Zinnia's Blog
			</a>
		  </h1>
		  <h2>Just another Zinnia weblog.</h2>
		</hgroup>
		{% endblock branding %}
		<nav class="breadcrumbs">
		  <a href="/" title="{% trans "Back to homepage" %}">{% trans "Homepage" %}</a> / {% block breadcrumbs %}{% endblock %}
		</nav>
      </header>
	  {% endblock header %}
		<div class="main">
		  {% block content %}
			<h3>The content block need to be overrided!</h3>
		  {% endblock content %}
		</div>
		<aside role="complementary">
		  {% block welcome %}
		  <div class="welcome">
			<h3>Welcome!</h3>
			<p>
			  This simple skin is the base template of the Zinnia application,
			  used for displaying the blog quickly.
			  <br />
			  Feel free to override the <em>blogquintet/zinnia/base.html</em> template to change the appearence.
			</p>
		  </div>
		  {% endblock welcome %}
		  {% block sidebar %}
		  {% endblock %}
		</aside>
	  {% block footer %}
	  <footer class="site-infos">
		<p>Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="http://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.</p>
	  </footer>
	  {% endblock footer %}
  </body>
  {% endspaceless %}
  {% block final-script %}
  {% endblock final-script %}
</html>


